@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body
{
	background: #F5D801;
	font-family: Arial;
	font-size:16px;
	margin:0;
	padding:0;
}
header
{
	background-color: #FF7400;
}

header h1
{
	color:white;
	font-size: 3em;
	text-shadow: 2px 2px #000;
}

header p
{
	color: white;
}

header figure
{
	
}

header #social img
{
	width: 35px;
}
header h1, header #social, header #opciones
{
	display: inline-block;
	vertical-align: top;
}
header #opciones img
{
	float: left;
	width: 35px;
}
header #opciones figcaption
{
	background: #22bce4;
	float: right;
	height: 35px;
	line-height: 35px;
}
header #opciones .flecha:before
{
	color:red;
	content: "\e600";
	font-family: "icomoon";
	font-size: 0.7em;
}

section article
{
	background: white;
	border-radius: 5px;
}

header figure img
{
	width: 100px;	
}

header figure figcaption:before
{
	content:"\e600";
	font-family: "icomoon";
}

header figure
{
	display: inline-block;
	vertical-align: top;
}
header figure figcaption
{
	background: #2CBDF7;
	float: right;
}












